.nav {
  display: flex;
  padding: 0 32px;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  border-radius: 12px;
  align-self: center;
}

.search input {
  height: 36px;
  width: 512px;
  border: 0;
  background: none;
}

.search button {
  height: 36px;
  border: 0;
  background: none;
}

.search i {
  background: linear-gradient(134deg, #ff6ec8 0%, #ffac6e 101.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.profile img {
  height: 36px;
  width: 36px;
}

.nav .username {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav .rank {
  color: rgba(255, 110, 200, 0.75);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.utli {
  display: flex;
  float: right;
}

.util span {
  cursor: pointer;
}

.util .icon {
  padding: 4px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  fill: #fff;
}

.util .icon i {
  background: linear-gradient(135deg, #f97c1e 0%, #ff6ec8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cate {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
}

.cate span {
  padding: 2px 12px;
  color: rgba(30, 30, 30, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.cate span.focus {
  color: #1e1e1e;
}
.books {
  display: flex;
}

.filter-list {
}
.book-list {
  margin: 50px 50px;
  flex-wrap: wrap;
  display: flex;
}
.book {
  width: 200px;
  height: 350px;
  margin: 10px 10px;
}
.book img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
}
.read {
  background: #f97c1e;
}
.buy-book {
  background: #c9c6c6;
}
.book button {
  margin: 5px 0px;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  border: #bdbaba;
}
