<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ - League of Vulgate - Siêu ứng dụng đọc sách 2023</title>
    <link
      rel="shortcut icon"
      href="../public/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/book.css" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>
    <div class="nav">
      <div>
        <a href="./index.html"><img src="../public/logo.png" alt="" /></a>
      </div>
      <form action="post" class="search">
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input type="text" name="search" placeholder="Tìm kiếm" />
      </form>
      <div class="profile">
        <img src="../public/avatar.png" alt="" />
        <div class="user">
          <a href="./profile.html"><p class="username">{{ user.name }}</p></a>
          <p class="rank">{{ user.rank }}</p>
        </div>
      </div>
      <div class="util">
        <span class="icon"><i class="fa-regular fa-envelope"></i></span>
        <span class="icon bar"><i class="fa-solid fa-bars"></i></span>
      </div>
    </div>
    <div class="nav">
        <div class="cate">
            <a href="./store.html"><span>Văn học</span></a>
            <a href="./store.html"><span>Sách thiếu nhi</span></a>
            <a href="./store.html"><span>Kinh tế</span></a>
            <a href="./store.html"><span>Tiểu sử - Hồi kí</span></a>
            <a href="./store.html"><span>Tâm lí - Kĩ năng sống</span></a>
            <a href="./store.html"><span>Giáo khoa - Tham khảo</span></a>
            <a href="./store.html"><span>Học ngoại ngữ</span></a>
            <a href="./store.html"><span>Nuôi dạy con</span></a>
        </div>

    </div>
    <header>
        <h1>Trang chủ</h1>
        <h1>Văn học</h1>
        <h1>Light novel</h1>
    </header>
    <main>
        <div class="side-panel">
            <img src="../public/store/10.png" alt="">
        </div>
        <div class="main-panel">
            <h1>Đường Hầm Tới Mùa Hạ - Lối Thoát Của Biệt Ly</h1>
            <div class="genre">
                <span>Viễn tưởng</span>
                <span>Bí ẩn</span>
                <span>Drama</span>
            </div>
            <h4>Tác giả: Mei Hachimoku, Kukka</h4>
            <h4>Trạng thái: Hoàn thành</h4>
            <p class="content">
                “Cậu biết đường hầm Urashima chứ? Nghe bảo bước vào bên trong thì mọi mong ước sẽ biến thành hiện thực, nhưng phải đánh đổi bằng tuổi tác…”
Cậu học sinh cấp ba Tono Kaoru tình cờ nghe hóng được về truyền thuyết đô thị đó. Ngay đêm hôm ấy, cậu lại tình cờ tìm thấy một đường hầm có nét tương đồng…
Vào trong đường hầm, chưa biết chừng cậu sẽ đưa được đứa em gái đã mất năm năm trước quay về.
Sau giờ học, Kaoru tiến hành điều tra về đường hầm này, ai ngờ lại bị cô bạn Hanashiro Anzu – học sinh mới chuyển tới - phát hiện ra.
Hai cô cậu cộng tác với nhau để cùng đạt được mong ước của cả hai… Khởi đầu một mùa hè đầy những bất ngờ lý thú mà chưa ai từng biết tới.
Đường hầm tới mùa hạ - Lối thoát của biệt ly, câu chuyện đầy ý nghĩa về tình cảm gia đình và tình yêu, là lời tạm biệt gửi tới những vui buồn trong quá khứ, tìm lại những điều đã đánh mất để có thể hướng tới tương lai.”
            </p>
        </div>
    </main>
</body>
</html>