<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập - League of Vulgate - Siêu ứng dụng đọc sách 2023</title>
    <link rel="shortcut icon" href="../public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
</head>
<body>
    <div class="login-panel">
    <div class="login-panel">
        <br>
        <div>
            <a class="return-btn" href="">Quay về</a>
        </div>
        <h1>Chào mừng đến với</h1>
        <img src="../public/big logo.png" alt="">
        <br>
        <br>
        <form method="POST" action="/login">
            <input type="text" name="username" id="username" placeholder="Email hoặc tên đăng nhập" required>
            <br>
            <input type="password" name="password" id="password" placeholder="Mật khẩu" required>
            <div class="remember-password">
                <input type="checkbox" name="remember-password" id="remember-password">
                <label for="remember-password">Nhớ mật khẩu</label>
            </div>
            <p class="note">
                Khi đăng nhập, bạn đồng ý với các Điều khoản và Điều kiện để sử dụng dịch vụ. 
                LOV có quyền truy cập các thông tin bạn đã đồng ý chia sẻ. 
                Để biết thêm thông tin, hãy đọc <a href="">Điều khoản và Điều kiện.</a>
            </p>
            <button type="submit">
                Đăng nhập
            </button>
            <h5>Hoặc đăng nhập bằng</h5>
            <div class="third-parties">
                <img src="../public/fb.png" alt="">
                <img src="../public/gg.png" alt="">
                <img src="../public/ms.png" alt="">
                <img src="../public/tw.png" alt="">
            </div>
            <h5>Chưa có tài khoản? <a href="">Đăng kí ngay</a></h5>
            <a href="">Quên mật khẩu?</a>
        </form>
    </div>
</body>
</html>