<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đường hầm tới mùa hạ</title>
    <link
      rel="shortcut icon"
      href="../public/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/reading.css" />
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
<body>
    <main>
        <div class="heading">
            <h1>ĐƯỜNG HẦM TỚI MÙA HẠ - LỐI THOÁT CỦA BIỆT LY</h1>
            <h4>Chương I: Đường hầm tới mùa hạ</h4>
        </div>
        <div>
            <p>“Cậu biết đường hầm Urashima chứ? Nghe bảo bước vào bên trong thì mọi mong ước sẽ biến thành hiện thực, nhưng phải đánh đổi bằng tuổi tác…”</p>
            <p>Cậu học sinh cấp ba Tono Kaoru tình cờ nghe hóng được về truyền thuyết đô thị đó. Ngay đêm hôm ấy, cậu lại tình cờ tìm thấy một đường hầm có nét tương đồng…</p>
            <p>Vào trong đường hầm, chưa biết chừng cậu sẽ đưa được đứa em gái đã mất năm năm trước quay về.</p>
            <p>Sau giờ học, Kaoru tiến hành điều tra về đường hầm này, ai ngờ lại bị cô bạn Hanashiro Anzu – học sinh mới chuyển tới - phát hiện ra.</p>
            <p>Hai cô cậu cộng tác với nhau để cùng đạt được mong ước của cả hai… Khởi đầu một mùa hè đầy những bất ngờ lý thú mà chưa ai từng biết tới.</p>
            <p>Đường hầm tới mùa hạ - Lối thoát của biệt ly, câu chuyện đầy ý nghĩa về tình cảm gia đình và tình yêu, là lời tạm biệt gửi tới những vui buồn trong quá khứ, tìm lại những điều đã đánh mất để có thể hướng tới tương lai.”</p>
        </div>
        <div>
            <p>“Cậu biết đường hầm Urashima chứ? Nghe bảo bước vào bên trong thì mọi mong ước sẽ biến thành hiện thực, nhưng phải đánh đổi bằng tuổi tác…”</p>
            <p>Cậu học sinh cấp ba Tono Kaoru tình cờ nghe hóng được về truyền thuyết đô thị đó. Ngay đêm hôm ấy, cậu lại tình cờ tìm thấy một đường hầm có nét tương đồng…</p>
            <p>Vào trong đường hầm, chưa biết chừng cậu sẽ đưa được đứa em gái đã mất năm năm trước quay về.</p>
            <p>Sau giờ học, Kaoru tiến hành điều tra về đường hầm này, ai ngờ lại bị cô bạn Hanashiro Anzu – học sinh mới chuyển tới - phát hiện ra.</p>
            <p>Hai cô cậu cộng tác với nhau để cùng đạt được mong ước của cả hai… Khởi đầu một mùa hè đầy những bất ngờ lý thú mà chưa ai từng biết tới.</p>
            <p>Đường hầm tới mùa hạ - Lối thoát của biệt ly, câu chuyện đầy ý nghĩa về tình cảm gia đình và tình yêu, là lời tạm biệt gửi tới những vui buồn trong quá khứ, tìm lại những điều đã đánh mất để có thể hướng tới tương lai.”</p>
        </div>
        <div>
            <p>“Cậu biết đường hầm Urashima chứ? Nghe bảo bước vào bên trong thì mọi mong ước sẽ biến thành hiện thực, nhưng phải đánh đổi bằng tuổi tác…”</p>
            <p>Cậu học sinh cấp ba Tono Kaoru tình cờ nghe hóng được về truyền thuyết đô thị đó. Ngay đêm hôm ấy, cậu lại tình cờ tìm thấy một đường hầm có nét tương đồng…</p>
            <p>Vào trong đường hầm, chưa biết chừng cậu sẽ đưa được đứa em gái đã mất năm năm trước quay về.</p>
            <p>Sau giờ học, Kaoru tiến hành điều tra về đường hầm này, ai ngờ lại bị cô bạn Hanashiro Anzu – học sinh mới chuyển tới - phát hiện ra.</p>
            <p>Hai cô cậu cộng tác với nhau để cùng đạt được mong ước của cả hai… Khởi đầu một mùa hè đầy những bất ngờ lý thú mà chưa ai từng biết tới.</p>
            <p>Đường hầm tới mùa hạ - Lối thoát của biệt ly, câu chuyện đầy ý nghĩa về tình cảm gia đình và tình yêu, là lời tạm biệt gửi tới những vui buồn trong quá khứ, tìm lại những điều đã đánh mất để có thể hướng tới tương lai.”</p>
        </div>

        <div class="bar">
            <i class="fa-solid fa-backward"></i>
            <i class="fa-solid fa-home"></i>
            <i>A</i>
            <i>i</i>
            <i class="fa-solid fa-bookmark"></i>
            <i class="fa-solid fa-forward"></i>
        </div>
    </main>
</body>
</html>