<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng kí - League of Vulgate - Siêu ứng dụng đọc sách 2023</title>
    <link rel="shortcut icon" href="../public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
</head>
<body>
    <div class="login-panel">
    <div class="login-panel">
        <br>
        <div>
            <a class="return-btn" href="">Quay về</a>
        </div>
        <h1>Chào mừng đến với</h1>
        <img src="../public/big logo.png" alt="">
        <br>
        <br>
        <form method="post">
            <input type="text" name="username" id="username" placeholder="Tên đăng nhập" required>
            <label for="username" class="note">Tên đăng nhập phải là độc nhất, không bao gồm kí tự đặc biệt và phải bắt đầu bằng một chữ cái.</label>
            <input type="text" name="email" id="email" placeholder="Địa chỉ email" required>
            <label for="email" class="note">Hãy nhập email bạn thường xuyên sử dụng, chúng tôi sẽ gửi một mã xác nhận về địa chỉ này.</label>
            <input type="password" name="password" id="password" placeholder="Mật khẩu" required>
            <label for="password" class="note">Mật khẩu phải từ 8 kí tự trở lên, phải bao gồm chữ cái in thường, chữ cái in hoa, chữ số và ít nhất một kí tự đặc biệt.</label>
            <input type="password" name="re-enter-password" id="re-enter-password" placeholder="Nhập lại mật khẩu" required>
            <label for="re-enter-password" class="note">Mật khẩu nhập lại phải trùng khớp với mật khẩu ở trên. Điều này nhằm xác nhận bạn đã nhớ mật khẩu khi tạo tài khoản.</label>
            <div class="check">
                <div>
                    <input type="checkbox">
                    <label>Tôi xác nhận đã đọc Điều khoản và Điều kiện sử dụng dịch vụ. <a href="">Điều khoản và Điều kiện</a></label>
                </div>
                <div>
                    <input type="checkbox">
                    <label>Tôi đồng ý cho phép nhà cung cấp theo dõi hoạt động của tôi trên trang web.</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label>Tôi đồng ý nhận quảng cáo và thông tin bằng địa chỉ email đã cung cấp ở trên.</label>
                </div>
            </div>
            <button type="submit">
                Đăng kí tài khoản
            </button>
            <h5>Hoặc đăng nhập bằng</h5>
            <div class="third-parties">
                <img src="../public/fb.png" alt="">
                <img src="../public/gg.png" alt="">
                <img src="../public/ms.png" alt="">
                <img src="../public/tw.png" alt="">
            </div>
            <h5>Đã có tài khoản? <a href="">Đăng nhập ngay</a></h5>
        </form>
    </div>
</body>
</html>