<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cửa hàng - League of Vulgate - Siêu ứng dụng đọc sách 2023</title>
    <link
      rel="shortcut icon"
      href="../public/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/store.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="nav">
      <div>
        <a href="/"><img src="../static/public/logo.png" alt="" /></a>
      </div>
      <form action="/store" class="search">
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input type="text" name="search" placeholder="Tìm kiếm" />
      </form>
      {% if username!="" %}
      <div class="profile">
        <img src="../static/public/avatar.png" alt="" />
        <div class="user">
          <p class="username" style="margin-top: 20px;">{{username}}</p>

        </div>
      </div>
      <div class="util">
        <span class="icon"><i class="fa-regular fa-envelope"></i></span>
        <a href="/cart">
          <span class="icon"><i class="fa-solid fa-bag-shopping"></i></span>
        </a>

        <a href="/logout"
          ><span class="icon bar"><i class="fa-solid fa-bars"></i></span
        ></a>
      </div>
      {% else %}
      <div class="profile">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
      <div class="util">
        <a href="/cart">
          <span class="icon"><i class="fa-solid fa-bag-shopping"></i></span>
        </a>

        <span class="icon"><i class="fa-solid fa-bag-shopping"></i></span>
      </div>
      {% endif %}
    </div>
    <div class="nav">
      <div class="cate">
        {% if focus=='Văn học'%}
        <a href="/store?filter=Văn học">
          <span class="focus">Văn học</span>
        </a>
        {% else %}
        <a href="/store?filter=Văn học">
          <span>Văn học</span>
        </a>
        {% endif %}
        <span></span>
        {% if focus=='Sách thiếu nhi'%}
        <a href="/store?filter=Sách thiếu nhi">
          <span class="focus">Sách thiếu nhi</span>
        </a>
        {% else %}
        <a href="/store?filter=Sách thiếu nhi">
          <span>Sách thiếu nhi</span>
        </a>
        {% endif %}
        <span></span>

        {% if focus=='Kinh tế'%}
        <a href="/store?filter=Kinh tế">
          <span class="focus">Kinh tế</span>
        </a>
        {% else %}
        <a href="/store?filter=Kinh tế">
          <span>Kinh tế</span>
        </a>
        {% endif %}
        <span></span>

        {% if focus=='Tiểu sử - Hồi kí'%}
        <a href="/store?filter=Tiểu sử - Hồi kí">
          <span class="focus">Tiểu sử - Hồi kí</span>
        </a>
        {% else %}
        <a href="/store?filter=Tiểu sử - Hồi kí">
          <span>Tiểu sử - Hồi kí</span>
        </a>
        {% endif %}
        <span></span>

        {% if focus=='Tâm lí - Kĩ năng sống'%}
        <a href="/store?filter=Tâm lí - Kĩ năng sống">
          <span class="focus">Tâm lí - Kĩ năng sống</span>
        </a>
        {% else %}
        <a href="/store?filter=Tâm lí - Kĩ năng sống">
          <span>Tâm lí - Kĩ năng sống</span>
        </a>
        {% endif %}

        <span></span>
        {% if focus=='Giáo khoa - Tham khảo'%}
        <a href="/store?filter=Giáo khoa - Tham khảo">
          <span class="focus">Giáo khoa - Tham khảo</span>
        </a>
        {% else %}
        <a href="/store?filter=Giáo khoa - Tham khảo">
          <span>Giáo khoa - Tham khảo</span>
        </a>
        {% endif %}
        <span></span>

        {% if focus=='Học ngoại ngữ'%}
        <a href="/store?filter=Học ngoại ngữ">
          <span class="focus">Học ngoại ngữ</span>
        </a>
        {% else %}
        <a href="/store?filter=Học ngoại ngữ">
          <span>Học ngoại ngữ</span>
        </a>
        {% endif %}
        <span></span>

        {% if focus=='Sách quốc tế'%}
        <a href="/store?filter=Sách quốc tế">
          <span class="focus">Sách quốc tế</span>
        </a>
        {% else %}
        <a href="/store?filter=Sách quốc tế">
          <span>Sách quốc tế</span>
        </a>
        {% endif %}
        <span></span>
        {% if focus == 'Coding' %}
        <a href="/store?filter=Coding">
          <span class="focus">Coding</span>
        </a>
        {%else%}
        <a href="/store?filter=Coding">
          <span>Coding</span>
        </a>
        {% endif %}
      </div>
    </div>
    <main>
    

        <div class="book-list">
          {% for book in books%}
          <a href="book/{{book[0]}}">
            <div class="book">
              <img src="{{book[11]}}" alt="{{book[1]}}" />
              <a href="book/{{book[0]}}"
                ><button class="read" style="width: 100%">ĐỌC NGAY</button></a
              >

              <button
                class="buy-book"
                style="width: 100%"
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#myModal{{book[0]}}"
              >
                THÊM VÀO GIỎ
              </button>
              <div
                class="modal fade"
                id="myModal{{book[0]}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        PHIẾU XÁC NHẬN
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">BẠN CÓ MUỐN THÊM VÀO GIỎ KHÔNG</div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        KHÔNG
                      </button>
                      <form action="/cart/add/{{book[0]}}" method="POST">
                        <button type="submit" class="btn btn-secondary message">
                          XÁC NHẬN
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {%endfor%}
        </div>
      </div>
    </main>
    <script></script>
  </body>
</html>
